
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SpaceType', sans-serif;
                                                
}



body{
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(../js3/OX-project-wallpaper\ copy.png);
background-size: cover;
background-repeat: no-repeat;



}


.winning{
    background-color: rgba(77, 86, 86, 0.948);
    border-radius: 10px;
    border: 3px solid  yellowgreen;
    position: relative;
    top: -560px;
    height: 600px;
    width: 500px;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}








.game{
    
    background-color: rgba(77, 86, 86, 0.726);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    border: 3px solid  yellowgreen;
    z-index: 0;
}




.container{
height: 325px;
width: 325px;
background-color: rgba(165, 42, 42, 0);
}





.col-4{
 
    background-color: rgba(41, 116, 43, 0.704);
    color:  rgba(174, 89, 89, 0);
   height: 100px;
   width: 100px;
    border: 2px solid yellowgreen;
    background-size: cover;
    border-radius: 6px;
}

.col-4:hover{
    scale: 1.1;
    background-color: rgb(124, 166, 61);
    transition: .2s;
    cursor: pointer;
}



#score{
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 25px;
}






#rst{
  
  height: 60px;
  width: 120px;
  background-color: gray;  
color: white;

   
}

#rst:hover{
    scale: 1.2;
    border-radius: 30px;
    background-color: rgb(36, 121, 36);
    border: 4px solid yellowgreen;
    color: yellowgreen;
    transition: .6s;
}




.animation{
    width: 90%;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
top: -700px;
z-index: 9999;


}


.monkey{
    visibility: hidden;
    height: 100px;
    width: 100px;
   background-image: url(../js3/monkey-final-xo.png);
   background-size: cover;
   
}


